.about-main h2 {
  font-size: 32px;
}

.about-main section{
  margin-bottom: 72px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.profile-container .profile {
  max-width: 400px;
  text-align: center;
}

.profile-container .profile .profile-img {
  width: 206px;
  height: 206px;
  border-radius: 100%;
  margin-bottom: 16px;
}

.profile-container .profile p {
  margin-bottom: 32px;
}

.profile-container .profile .icons-group {
  margin: 0 auto;
}

.profile-container .profile .icons-group a {
  margin-left: 8px;
  margin-right: 8px;
}

.skills-container .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-container p {
  margin-bottom: 24px;
  font-weight: 300;
}

.profile-container,
.skills-container {
  margin-bottom: 32px;
}
