.project {
  position: relative;
  box-sizing: border-box;
  padding: 16px 24px;
  background-color: #fff;
  height: 300px;
  width: 100%;
  border-radius: 16px;
  transition: all 0.3s linear;
}

.project:hover {
  transform: scale(1.02);
  background-color: rgba(7, 178, 217, 0.03);
}

@media screen and (max-width: 600px) {
  .project {
    height: auto;
    padding-bottom: 64px;
  }
}

.project p {
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 500;
}
