.project {
  position: relative;
  padding: 16px 24px;
  background-color: #fff;
  height: 350px;
  width: 100%;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0px 0px 4px 0px rgba(33, 33, 33, 0.2);
  box-shadow: 0px 0px 4px 0px rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 600px) {
  .project {
    height: auto;
    padding-bottom: 64px;
  }
}

.project p {
  font-weight: 300;
  font-size: 16px;
}

.project h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
}

.badges {
  position: absolute;
  bottom: 16px;
  display: flex;
  margin-top: 16px;
}

.tech {
  border: 1px solid #0f4c81;
  border-radius: 25px;
  padding: 2px 4px;
  min-width: 80px;
  text-align: center;
  margin-right: 8px;
}

.tech p {
  font-size: 14px;
  font-weight: 400;
  color: #0f4c81;
}
