#apresentation {
  width: 100%;
  margin: 64px auto 128px auto;
  display: flex;
  justify-content: center;
}

#apresentation .content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#apresentation .content img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 32px auto;
}

#apresentation .content h1 {
  font-size: 32px;
}

#apresentation .content p {
  font-size: 16px;
  margin-top: 8px;
}

#apresentation .content svg {
  color: #fff;
}

#apresentation .content .icons-group {
  margin-top: 16px;
  margin-bottom: 16px;
}

#apresentation .content .icons-group a {
  margin-left: 8px;
  margin-right: 8px;
}

#apresentation .content .icons-group svg {
  transition: 0.4s ease-in-out all;
}

#apresentation .content .icons-group svg:hover {
  color: var(--color-primary);
}

#apresentation .content .icons-group a:first-child {
  margin-left: 0;
}

#apresentation .content .icons-group a:last-child {
  margin-right: 0;
}
