#apresentation {
  width: 100%;
  margin: 64px auto 128px auto;
  display: flex;
  justify-content: center;
}

#apresentation .content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#apresentation .content img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 32px auto;
}

#apresentation .content h1 {
  font-size: 32px;
}

#apresentation .content p {
  font-size: 16px;
  margin-top: 8px;
}