body {
  position: relative;
}

.home {
  height: 100vh;
}

.home h1 {
  font-weight: 500;
  font-size: 36px;
}

.home p {
  font-weight: 300;
  size: 24px;
}

.home {
  display: grid;
  gap: 16px;
}

@media screen and (min-width: 1023px) {
  .home {
    grid-template-columns: 1fr 1fr;
  }

  .apresentation-container .apresentation {
    margin: 0;
  }
}

.apresentation-container,
.img-container {
  display: flex;
  align-items: center;
}

.apresentation-container .apresentation {
  height: auto;
  padding: 50px 0;
  max-width: 400px;
}

.img-container img {
  max-width: 100%;
}

.apresentation-container .icons-group {
  margin-top: 24px;
  max-width: 130px;
  display: flex;
  justify-content: space-between;
}


