body {
  position: relative;
}

.home h1 {
  font-weight: 500;
}

.home p {
  font-weight: 300;
  size: 24px;
}

.home .icons-group {
  margin-top: 24px;
  max-width: 130px;
  display: flex;
  justify-content: space-between;
}

.home .apresentation {
  max-width: 400px;
  max-height: 450px;
  margin-top: 180px;
}

.home .img-container {
  position: fixed;
  bottom: -10px;
  right: -3%;
}

.home .img-container img {
  width: 110%;
  height: auto;
}

@media only screen and (max-width: 600px) {  
  .home .apresentation {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-height: 630px) {
  .home .img-container img {
    width: 350px;
    height: auto;
  }
}