.projects-main h1 {
  margin-top: 64px;
  color: #0f4c81;
}

.projects-main h1 + p {
  font-weight: 300;
  margin-bottom: 40px;
}

.projects-main {
  padding-bottom: 64px;
}

.projects-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 32px;
  column-gap: 30px;
  justify-content: start;
}

@media screen and (min-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  .projects-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .projects-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
