.skill-content {
  display: block;
}

.skill {
  background-color: #fff;
  border-radius: 8px;

  height: 200px;
  width: 200px;

  margin: 0px 8px 8px 0px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;

  text-align: center;

  transition: all 0.3s linear;
}

.skill img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 8px;
}

.skill h4 {
  color: #454545;
}

@media screen and (max-width: 850px) {
  .skill {
    height: 166px;
    width: 166px;
  }

  .skill img {
    max-width: 80px;
    max-height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .skill {
    height: 110px;
    width: 110px;
  }

  .skill img {
    max-width: 50px;
    max-height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .skill {
    height: 120px;
    width: 120px;
    flex-grow: 1;
  }
}
