.skill{
  background-color: #fff;
  border-radius: 16px;
  height: 220px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 8px 16px 8px 0;  
}

.skill img{
  width: 100px;
  height: auto;
}

@media screen and (max-width: 768px){
  .skill{   
    height: 166px;
    width: 166px;
    flex-grow: 1;
  }

  .skill img{
    width: 80px;
    height: auto;
  }
}

@media screen and (max-width: 390px){
  .skill{   
    height: 120px;
    width: 120px;
  }

  .skill img{
    width: 60px;
    height: auto;
  }
}