.skill-content{
  display: block;
}

.skill {
  background-color: #fff;
  border-radius: 16px;

  height: 200px;
  width: 200px;


  margin: 0px 16px 16px 0px;
    
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;

  text-align: center;

  transition: all 1s linear;
}

.skill img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 8px;
}



@media screen and (max-width: 850px) {
  .skill {
    height: 166px;
    width: 166px;    
  }

  .skill img {
    max-width: 80px;
    max-height: 100px;
  }
}

@media screen and (max-width: 390px) {
  .skill {
    height: 120px;
    width: 120px;
  }

  .skill img {
    max-width: 60px;
    max-height: 60px;
  }
}
