footer {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.icons-group {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
