.experience {
  width: 100%;
  min-height: 300px;

  padding: 40px 16px;
  margin-top: 24px;
  margin-bottom: 40px;

  background-color: #fff;
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.experience .details-container h4 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #212121;
}

.experience .details-container p {
  font-size: 16px;
}

.experience .details-container p:last-child {
  margin-top: 16px;
  color: #c7c7c7;
  font-size: 12;
  font-style: italic;
  font-weight: 300;
}

.experience .img-container {
  width: 30%;
  min-width: 250px;
  display: flex;
  justify-content: center;
}

.experience .details-container {
  width: 70%;
}

@media screen and (max-width: 1014px){
  .experience .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }
  
  .experience .details-container {
    width: 100%;
  }
}