body {
  background-color: #f5f5f5;
}

.dark{
  background-color: #121212 !important;
  color: #fff !important;
}

h2,
h3,
h4,
h5,
h6 {
  color: #0f4c81;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em {
  font-family: "Roboto Slab", serif;
}

header,
main,
footer {
  width: 100%;
  box-sizing: border-box;
  padding-left: 14px;
  padding-right: 14px;
}

@media only screen and (min-width: 768px) {
  header,
  main,
  footer {
    padding-left: 70px;
    padding-right: 70px;
  }
}
